@font-face {
  font-family: Yekan;
  src: url("../src/assets/fonts/yekan/Yekan-normal.ttf") format('truetype');
  font-weight: normal;
}
* {
    @apply font-yekan
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
